.reveal-item {
  visibility: hidden;
  opacity: 0;

  transform-origin: 50%;
  transform: scale(0.75);

&--is-visible {
  visibility: visible;
  opacity: 1;
  transition:.5s ease-out;
  transform:  scale(1);
}

}
