.teststyle {
  font-size:32px;
  font-size:2rem;

}
  .teststyle--testmodifier {
  font-size:16px;
  font-size:1rem;
  }
  .teststyle--secondtestmodifier {
  font-size:32px;
  font-size:2rem;
  }
@media (min-width: 481px) {
  .teststyle {
    font-size:1rem;

  }

}
