

.hero__image--scale-pan {
animation: scale-pan-blur 16s infinite;
min-width:680px;
}


.hero__image--scale {
margin-left: auto;
margin-right: auto;
min-width: 1200px;
animation: scale 8s;
animation-fill-mode: forwards;

}


.hero__image--grow {
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
width: 100%;

min-width: 800px;
animation: grow-up 18s infinite;


@mixin atMedium {

width: 100%;
}
@mixin atMedium {

width: 100%;
}

}

@keyframes scale-pan-in {
  {
  from {transform: scale3d(1, 1, 1) }
  to   {transform: scale3d(1.5, 1.5, 1.5) translate3d(-8%, -5%, 0px);}
  }
}

@keyframes scale-pan-out{
  from { transform: scale3d(1.5, 1.5, 1.5) translate3d(-8%, -5%, 0px);}
  to   {transform: scale3d(1, 1, 1)}
}

@keyframes scale {
    0% {
      opacity: 0;
      filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        transform: translate3d(-50%, 0, 0) scale3d(1.3, 1.3, 1.3);
        animation-timing-function: ease-in;
        opacity: 1;
        filter: blur(15px);
    }
    100% {
        transform: translate3d(-50%, 0, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: blur(24px);
    }
}

@keyframes scale-pan-blur {
    0% {
      opacity: 0;
      filter: blur(4px);

    }
    5% {
      opacity: 0.7;

    }
    75% {
        transform: translate3d(-60%, -5%, 0) scale3d(1.3, 1.3, 1.3);
        animation-timing-function: ease-in;
        opacity: 1;
        filter: blur(15px);
    }
    100% {
        transform: translate3d(-60%, -5%, 0) scale3d(1.6, 1.6, 1.6);
        opacity: 0;
        filter: blur(24px);
    }
}
