@font-face {
  font-family: 'icons-brands';
  src:  url('../../assets/fonts/icons-brands.eot?n8mbjq');
  src:  url('../../assets/fonts/icons-brands.eot?n8mbjq#iefix') format('embedded-opentype'),
    url('../../assets/fonts/icons-brands.ttf?n8mbjq') format('truetype'),
    url('../../assets/fonts/icons-brands.woff?n8mbjq') format('woff'),
    url('../../assets/fonts/icons-brands.svg?n8mbjq#icons-brands') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.ficon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-brands' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 &--boxed {

   padding: 3px;
   background: #fff;
   border-radius: 3px;
 }

&--lg {
  font-size:1.5rem;
}

}

.ficon-chevron-left:before {
  content: "\f053";
}
.ficon-chevron-right:before {
  content: "\f054";
}
.ficon-chevron-up:before {
  content: "\f077";
}
.ficon-chevron-down:before {
  content: "\f078";
}

.ficon-facebook:before {
  content: "\e912";
  color: #3b5998;
}

.ficon-pinterest:before {
  content: "\e913";
  color: #bd081c;
}

.ficon-email:before {
  content: "\e911";
}
.ficon-pdf:before {
  content: "\e90f";
}
.ficon-mobile:before {
  content: "\e910";
}

.ficon-gmail:before {
  content: "\e914";
  color: #d14836;
}

.ficon-download:before {
  content: "\e90d";
}

.ficon-atom:before {
  content: "\e90e";
  color: #66595c;
}

.ficon-postcss:before {
  content: "\e90a";
  color: #dc3a0d;
}

.ficon-jquery:before {
  content: "\e90c";
  color: #0769ad;
}

.ficon-adobeillustrator:before {
  content: "\e900";
  color: #ff7c00;
}
.ficon-adobephotoshop:before {
  content: "\e901";
  color: #00c8ff;
}
.ficon-css3:before {
  content: "\e902";
  color: #1572b6;
}
.ficon-git:before {
  content: "\e903";
  color: #f14e32;
}
.ficon-github:before {
  content: "\e904";
  color: #000;
}
.ficon-gulp:before {
  content: "\e905";
  color: #da4648;
}
.ficon-html5:before {
  content: "\e906";
  color: #e34f26;
}
.ficon-linkedin:before {
  content: "\e907";
  color: #0077b5;
}
.ficon-nodejs:before {
  content: "\e908";
  color: #393;
}
.ficon-npm:before {
  content: "\e909";
  color: #cb3837;
}
