.wrapper {
  overflow: hidden;
}

.grid {
  margin: 0 auto;
  padding: 0 15px;


  @mixin atMedium {
  max-width:1200px;

}

}

.row {
padding:0;
margin:0;
display: block;

@mixin clearfix;

&--m-md {margin-top:15px; margin-bottom: 15px;}
&--m-lg {margin-top:25px; margin-bottom: 25px;}
&--m-xl {margin-top:35px; margin-bottom: 35px;}

&--m-negative-t-atMedium {
  margin-top:-3rem;

}


&--gutters-md {
margin-right:-15px;
}

&--gutters-md > .col{
padding-right:15px;
}

&--gutters-lg {
margin-right:-25px;
}

&--gutters-lg > .col{
padding-right:25px;
}

&--gutters-xl {
margin-right:-35px;
}

&--gutters-xl > .col{
padding-right:35px;
}

> .col {
  position: relative;
  float:left;
  width:100%;


  @mixin atMedium {
  min-height:1px;
  &__1 {width: 8.333%;}
  &__2 {width: 16.66%;}
  &__3 {width: 25%;}
  &__4 {width:33.333%}
  &__5 {width: 41.66%;}
  &__6 {width: 50%;}
  &__7 {width: 58.33%;}
  &__8 {width: 66.66%;}
  &__9 {width: 75%;}
  &__10 {width: 83.33%;}
  &__11 {width: 91.66%;}
  &__12 {width: 100%}
}

}

.flexbox &--equal-heights {
    @mixin atMedium {
display: flex;

& > .col {
  float: none;
  display: flex;
}

}
}

}
