.page-section {
@mixin clearfix;
  padding:2rem 0 2rem 0;
    position: relative;
    z-index: 1;
    background: #fff;

  &--brand-1 {
    background:$color4;
  }

  &--brand-2 {
    background: color($color2 tint(69%) alpha(1));
  }

  &--brand-3 {
    background: color($color2 tint(92%) alpha(1));
  }

}
