.reveal-item {
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom;
  transform: translateY(-50px) scale(0.5);

&--is-visible {
  opacity: 2;
  visibility: visible;
  transition:.5s ease-out;
    transform: translateY(0) scale(1);
}

}
