.work-history {


& img {
  box-shadow: 0px 0px 24px 3px color( var(--color2) alpha(.25));
  background:#fff;
}

& .heading-group {
  text-align: left;
}

p {
  text-align: justify;
}

&__toolset {
  background-color: var(--color1);
  color:#fff;
  padding: 2em;
  box-shadow: 0px 0px 24px 3px color( var(--color2) alpha(.25));
}


& dl {margin: 0 0 0 0; padding: 25px; background:#fff; display: block; }
& dt {font-size: 1.3rem; font-weight: 700; color: var(--color2);}
& dd {font-size:0.9rem; font-weight: 300; padding: 0 0 2em 0; margin: 0 0 0 10px;}


}
